mixin sAdvantages(data)
	// start sAdvantages
	+b.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin item(i,t,tx)
						+e.slide.swiper-slide
							+e.item
								+e.img-wrap
									img(src=`img/svg/advantage-${i}.svg`, alt="")
								+e.text-block
									+e.title!= t
									+e.text!= tx

					+item(1,`Покупать — удобно`,`В нашем интернет-магазине вы найдете подробные и достоверные описания товаров, а также фотографии. Наши специалисты всегда готовы помочь вам советом и предоставить дополнительную информацию.`)
					+item(2,`Удобно оплачивать`,`Вы можете рассчитаться за покупку наличными деньгами или банковской картой при доставке, произвести оплату карточкой онлайн или оформить безналичный расчет — при этом цена не изменится.`)
					+item(3,`Быстрая доставка`,`Наша служба доставки — это компетентные специалисты, работающие в логистике долгое время, имеющие огромную базу постоянных перевозчиков, что позволяет в кратчайшие сроки доставить строительные материалы в любую точку страны.`)
					+item(4,`Широкий ассортимент`,`У нас вы сможете купить следующие строительные материалы: минеральная вата (базальтовая и стекло), экструдированный пенополистирол, пенопласт, наплавляемы кровельные и гидроизоляционные материалы, сухие смеси, паро-гидроизоляцию и многое, многое другое.`)
					+item(5,`Официальный дилер`,`Наша компания является дилером таких брендов как: ТЕХНОНИКОЛЬ, HOTROCK, ИЗОМИН, БАТЭПЛЕКС, ИСТПЛЕКС, ILMAX и многих других.`)
					+item(6,`Заказывать — просто`,`Мы принимаем онлайн-заказы круглосуточно через сайт, а с 9:00 до 17:30 можно обратиться к специалистам по телефонам либо, по Viber или Telegram. Мы оформим заказ максимально быстро!`)
					+item(7,`Покупать у нас — выгодно`,`У нас действует бонусная программа для постоянных покупателей.`)
					+item(8,`Мы гарантируем качество`,`В нашем онлайн-магазине вы купите только сертифицированный товар по выгодным ценам.`)
				.swiper-pagination.d-lg-none
				
	// end sAdvantages