	// start .sAdvantages
.sAdvantages {
	
	@include media-breakpoint-up(md){
		--sPT: #{rem(70)};
		--sPB: #{rem(27)};
	}
	--sPT: #{rem(19)};
	--sPB: 0;

	&__item{
		display: flex;
		@include media-breakpoint-up(sm){
			margin-bottom: rem(35);
		}
		margin-bottom: rem(10);
	}

	&__img-wrap{
		@include media-breakpoint-up(sm){
			margin-right: rem(28);
		}
		margin-right: rem(13);
		img{
			@include media-breakpoint-up(sm){
				height: rem(77);
			}
			height: rem(44);
		}
	}

	&__title{
		font-weight: bold;
		@include media-breakpoint-up(sm){
			font-size: rem(22);
			line-height: (30 / 22);
			margin-bottom: rem(20);
		}
		margin-bottom: rem(5);
		font-size: $small;
		line-height: (19 / 14);
	}

	&__text{
		// font-size: 22px;
		@include media-breakpoint-up(sm){
			line-height: (30 / 22);
			font-size: $em-base;
		}
		font-size: rem(9);
		line-height: (12 / 9);
	}



	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sAdvantages