:root {
	--animate-delay: 1.2s;
	@include media-breakpoint-up(md) {
		
		--fontSizeBase: #{$em-base};
		--sPT: #{rem(80)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(40)};
	}
	--fontSizeBase: 14px;

	--sPT: #{rem(80 / 2)};
	--sPB: #{rem(90 / 2)};
	--sTPB: #{rem(40 / 2)};

		

		--swiperArrowSize: #{rem(90)};
		--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
		--swiperBorderColorDef: var(--bs-primary);
		--swiperColorDef: var(--bs-primary);
		--swiperBgDef: #ffffff;
	
		--swiperBorderColorDefHover: var(--bs-primary);
		--swiperColorDefHover: var(--bs-primary);
		--swiperBgDefHover: #ffffff;
	--arrowDown: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.28 1.15529L6.88998 6.22089L0.5 1.15529' stroke='%23CDCDCD'/%3E%3C/svg%3E%0A");
}


@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) {}


//
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}