mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.slider-wrap
				+e.slider--js.swiper-container
					.swiper-wrapper
						- for (var x = 0; x < 3; x++)
							+e.slide.swiper-slide
								+e.item
									img.swiper-lazy(src="#" data-src=`img/@2x/banner.jpg`, alt="")
					.swiper-pagination



	// end headerBlock