mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.slider-wrap
				+e.slider--js.swiper-container
					.swiper-wrapper
						- for (var x = 0; x < 3; x++)
							+e.slide.swiper-slide
								+e.PICTURE.item
									source.swiper-lazy(data-srcset='img/@2x/webp/banner.webp' type='image/webp' srcset="#" media='(min-width:576px)')
									source.swiper-lazy(data-srcset='img/@1x/webp/banner.webp' type='image/webp' srcset="#")
									source.swiper-lazy(data-srcset='img/@1x/banner.jpg' type='image/jpg' srcset="#" media='(min-width:576px)') 
									img.object-fit-js.swiper-lazy(data-src='img/@1x/stock.jpg' src="#" alt='')
					.swiper-pagination



	// end headerBlock