mixin sProducts(title,type)
	// start sProducts
	+b.SECTION.sProducts.section&attributes(attributes)
		.container
			+b.section-title.row
				.col-auto
					h2= title
				.col-auto
					span= type

			+e.slider-wrap
				+arrow
				+e.slider--js.swiper-container
					.swiper-wrapper
						+reviewSlide()
						+reviewSlide()
						+reviewSlide()
				.swiper-pagination


mixin reviewSlide()
	+e.slide.swiper-slide
		+e.item
			.row
				.col-auto
					img.swiper-lazy(src="#" data-src=`img/@2x/image-blocks.jpg`, alt="")
				.col
					+e.DIV.text-block
						+e.DIV.title Самонивелир Ceresit CN69 25кг
						+e.DIV.price от 31.09 р/меш
						+e.DIV.btn.btn(href="#")
							+icon('shop')
							span В корзину


			

	// end sProducts