mixin sProducts(title,type)
	// start sProducts
	+b.SECTION.sProducts.section&attributes(attributes)
		.container
			+b.section-title.row
				.col-auto
					h2= title
				.col-auto
					span= type

			+e.slider-wrap
				+arrow
				+e.slider--js.swiper-container
					.swiper-wrapper
						+productSlide()
						+productSlide()
						+productSlide()
				.swiper-pagination


mixin productSlide()
	+e.slide.swiper-slide
		+e.item
			.row
				.col-auto
					a(href="#")
						picture
							source.swiper-lazy(data-srcset=`img/@2x/webp/image-blocks.webp` type=`image/webp` srcset="#")
							img.swiper-lazy(data-src=`img/@2x/image-blocks.jpg`, src="#", alt="")
					+b.add
						+e.btn--minus
						input(type="number" value="1")
						+e.btn--plus
				.col
					+e.DIV.text-block
						+e.DIV.title(href="#") Самонивелир Ceresit CN69 25кг
						+e.DIV.price от 31.09 р/меш
						+e.DIV.btn.btn(href="#")
							+icon('shop')
							span В корзину


			

	// end sProducts