extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sProducts/_sProducts.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Изолмаркет'
	title= title
block pagecontent

	//- +mob-mnu()
	//- +header()
	//- +top-nav()
	//- +topLine() 
	+headerBlock()


	+sAdvantages()
	+sProducts('Хиты продаж','HIT')(class="sProducts-bgWhite")
	+sProducts('Новые поступления','NEW')
	+sProducts('Уцененные товары','%')(class="sProducts-bgWhite")
	+sContent()
	+footer()


	