mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container

			.row
				.col-lg-6
					h3 Особенности материалов
					p Отличия данных материалов обуславливаются разной технологией производства. Преобразование исходного полистирольного сырья в&nbsp;пенопласт выполняется посредством воздействия на&nbsp;полистирол паром высокой температуры, при котором происходит вспенивание сырья, во&nbsp;время чего молекулы полистирола увеличиваются в&nbsp;размерах и&nbsp;соединяются между собой.
					p  Экструдированный пенополистирол изготавливается по&nbsp;совершенно другой технологии. Полистирольное сырье в&nbsp;процессе производства загружается в&nbsp;специальное оборудование&nbsp;&mdash; экструдер, где нагревается до&nbsp;полной потери молекулами полистирола связей, в&nbsp;результате чего образуется однородный жидкий расплав.
				.col-lg-6
					+pic('image-1')



				
	// end sContent