mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title
				+icon('catalog-2')
				h2 Каталог

			.row
				.col-lg-9

					.row
						mixin item(t)
							.col-lg-4
								+e.item
									+e.title!= t
									block

						+item('Теплоизоляция')
							ul
								li Экструдированный пенополистирол
								li Утеплитель из&nbsp;стекловолокна
								li Базальтовый утеплитель
								li Пенопласт
						+item('Паро-гидро-изоляция')
							ul
								li Пароизоляционные плёнки
								li Гидро-ветроизоляционные плёнки
								li Дренажные мембраны
								li Комплектующие
						+item('Прочие товары')
							ul
								li Мастики
								li Праймеры
								li Наплавляемые рулонные материалы


						+item('Паро-гидро-изоляция')
							ul
								li Пароизоляционные плёнки
								li Гидро-ветроизоляционные плёнки
								li Дренажные мембраны
								li Комплектующие
						+item('Метизная продукция')
							ul
								li Дюбель-гвозди
								li Саморезы для гипсокартона
						+item('Битумные материалы')
							ul
								li Мастики
								li Праймеры
								li Наплавляемые рулонные материалы


						+item('Древесно-плитные материалы')
							ul
								li ЦСП плиты
								li ОСБ плиты 
						+item('Гипсокартон и комплектующие')
							ul
								li Стеклохолст и клей
						+item('Кровельные материалы')
							ul
								li Гибкая черепица
					
				.col-lg-3
					+e.item
						+e.title Сухие строительные смеси
						ul
							li Штукатурка выравнивающая
							li Стяжка
							li Клей для плитки
							li Клей для теплоизоляции
							li Клей для блоков и&nbsp;кирпича
							li Штукатурка декоративная
							li Шпатлёвка
							li Самонивелир
							li Гидроизоляция
							li Грунтовки
							li Гипс строительный
							li Материалы для устройства промышленных полов
							li Монтажные смеси
							li Смеси для ремонта бетона
							li Цемент
							li Цемент
							li Добавки к&nbsp;растворам и&nbsp;бетонам
							li Клей для гипсокартона






	// end sCatalog