mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title
				+icon('catalog-2')
				h2 Каталог

			+e.row  
				mixin item(t) 
					+e.item
						+e.title!= t
						block

				+item('Теплоизоляция')
					ul
						li: a(href="#") Экструдированный пенополистирол
						li: a(href="#") Утеплитель из&nbsp;стекловолокна
						li: a(href="#") Базальтовый утеплитель
						li: a(href="#") Пенопласт
				+item('Паро-гидро-изоляция')
					ul
						li: a(href="#") Пароизоляционные плёнки
						li: a(href="#") Гидро-ветроизоляционные плёнки
						li: a(href="#") Дренажные мембраны
						li: a(href="#") Комплектующие
				+item('Прочие товары')
					ul
						li: a(href="#") Мастики
						li: a(href="#") Праймеры
						li: a(href="#") Наплавляемые рулонные материалы


				+item('Паро-гидро-изоляция')
					ul
						li: a(href="#") Пароизоляционные плёнки
						li: a(href="#") Гидро-ветроизоляционные плёнки
						li: a(href="#") Дренажные мембраны
						li: a(href="#") Комплектующие
				+item('Метизная продукция')
					ul
						li: a(href="#") Дюбель-гвозди
						li: a(href="#") Саморезы для гипсокартона
				+item('Битумные материалы')
					ul
						li: a(href="#") Мастики
						li: a(href="#") Праймеры
						li: a(href="#") Наплавляемые рулонные материалы


				+item('Древесно-плитные материалы')
					ul
						li: a(href="#") ЦСП плиты
						li: a(href="#") ОСБ плиты 
				+item('Гипсокартон и комплектующие')
					ul
						li: a(href="#") Стеклохолст и клей
				+item('Кровельные материалы')
					ul
						li: a(href="#") Гибкая черепица  
				+e.item
					+e.title Сухие строительные смеси
					ul
						li: a(href="#") Штукатурка выравнивающая
						li: a(href="#") Стяжка
						li: a(href="#") Клей для плитки
						li: a(href="#") Клей для теплоизоляции
						li: a(href="#") Клей для блоков и&nbsp;кирпича
						li: a(href="#") Штукатурка декоративная
						li: a(href="#") Шпатлёвка
						li: a(href="#") Самонивелир
						li: a(href="#") Гидроизоляция
						li: a(href="#") Грунтовки
						li: a(href="#") Гипс строительный
						li: a(href="#") Материалы для устройства промышленных полов
						li: a(href="#") Монтажные смеси
						li: a(href="#") Смеси для ремонта бетона
						li: a(href="#") Цемент
						li: a(href="#") Цемент
						li: a(href="#") Добавки к&nbsp;растворам и&nbsp;бетонам
						li: a(href="#") Клей для гипсокартона






	// end sCatalog