mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			+e.row.row
				+e.col-mobile.col-xl-auto.col-md.col-auto.order-xl-first
					+e.logo(href="/")
						+pic('logo.png','',0)
				.col-xl.order-xl-0.order-last.d-none.d-lg-block
					+b.FORM.search-block
						.input-group
							+e.INPUT.input.form-control(placeholder="Поиск")
							+e.SELECT.select.form-select
								option Все категории
								option Все категории
								option Все категории
								option Все категории
							button.btn.btn-outline-primary(type="button")  Найти
				.col-auto.d-none.d-lg-block
					button.btn.btn-light(type="button") Заявка на расчет
				.col-auto.d-none.d-md-block
					+e.item
						.text-primary 
							+icon('clock')
							| График работы
						| ПН-ПТ: 09:00 - 18:00
				.col-auto.d-none.d-md-block
					+e.item
						.text-primary 
							+icon('place')
							| Самовывоз 
						| ул.Бабушкина д8/6
				.col-auto
					.row
						.col-auto
							+e.link--viber(href="#")
								+icon('viber')
						.col-auto
							+e.link--telegram(href="#")
								+icon('telegram')
				+e.col-mobile.col-auto.text-right
					+e.tel(href="tel:+375 29 107-55-77") +375 29 107-55-77 
					br
					+e.tel(href="tel:+37529107-55-77") +375 29 107-55-77
	// end topLine