
	// start .topLine
	.topLine {
		padding-top: rem(5);
		width: 100%;
		@include media-breakpoint-down(lg) {
			position: sticky;
			left: 0;
			top: 0;
		}
		@include media-breakpoint-up(sm) {

			padding-bottom: rem(13);
		}
		padding-bottom: rem(5);
		background-color: #ffffff;
		font-size: rem(14);
		position: relative;
		z-index: 1100;
		.btn {
		
		}
		img{
			// max-width: rem(125);
		}
		&__row{

			justify-content: space-between;
		}
		.row{
			align-items: center;
			--bs-gutter-x: #{rem(9)};
		}
		.btn{
			padding-left: rem(9);
			padding-right: rem(9);
				border-radius: rem(3); 
		}
		.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
			margin-left: -1px;
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
		}
		&__item{
			font-size: rem(14);
			position: relative;
			padding-left: rem(20);
			 color: $secondary;
			.icon{
				top: rem(4);
				left: 0;
				font-size: rem(15);
				position: absolute;
			}
		}
		&__tel{
			font-weight: bold;
		}
		&__link{
			@extend .btn;
			padding: 0;
			width: rem(33px);
			height: rem(33px);
			border-radius: 50% !important;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ffffff !important;
			background: #000;
			--bg: ;
			--bgHover: ;
			background-color: var(--bg);
			&:hover{
				background-color: var(--bgHover) ;

			}
			&--viber{
				@include media-breakpoint-up(xl) {
					margin-left: rem(10);
				}
				--bg: #7c509a;
				--bgHover: #{lighten($color: #7c509a, $amount: 10)};
			}
			&--telegram {
				--bg: #2f89ce;
				--bgHover: #{lighten($color: #2f89ce, $amount: 10)};
			}
			.icon{
				font-size: rem(18);
				flex: 0 0 auto;
			}
		}
		

		
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {
		&__col-mobile{
			width: rem(130);
			img{
				max-width: rem(80);
			}
		}
		&__tel{
			// font-size: 10px;
		}
	}
	@include media-breakpoint-down(xs) {} 

} // end.topLine
.search-block{
	.btn-outline-primary {
		border-radius: 2px !important;
	}
	@include media-breakpoint-up(xl) {
		// max-width: rem(355);
		margin-top: 0;
		margin-bottom: 0;
	}
	margin-top: rem(10);
	margin-bottom: rem(10);
	.form-control,
	.form-select{
		font-size: rem(12);
		// height: rem(41);
	}
	.form-select{
		max-width: rem(125);
	}
	.form-control{
		@include media-breakpoint-down(lg){
			padding-left: rem(40);
			border-radius: rem(3) !important;
		}
	}
	.btn{
		// height: rem(41);
		font-size: rem(14);
		padding-left: rem(15);
		padding-right: rem(15);
		z-index: 5;
		@include media-breakpoint-down(lg){
			position: absolute;
			left: 0;
			top: rem(-3);
		}
	}
}