// мобильное меню

// мобильное меню
$h: rem(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 12;
	position: relative;
	color: #fff;
	font-size: 32px;
	// margin-right: rem(10);
	cursor: pointer;
	width: rem(30);
 
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 4;
	}

	span:after {
		bottom: $h * 4;
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: $h;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		transform-origin: 50% 50%;
	}

	&.on span:before {
		transform: rotate(45deg);
	}

	&.on span:after {
		transform: rotate(-45deg);
	}
}

.menu-mobile {
	 
}